<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smallhouseplan.calculator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Small House Plan</name>
    <description>
        The app for estimation of building and repair material for a house or office.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Pawan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="facebook:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/drawable-hdpi/logo.png" platform="android" density="hdpi" />
        <icon src="res/drawable-ldpi/logo.png" platform="android" density="ldpi" />
        <icon src="res/drawable-mdpi/logo.png" platform="android" density="mdpi" />
        <icon src="res/drawable-xhdpi/logo.png" platform="android" density="xhdpi" />
        <icon src="res/drawable-xxhdpi/logo.png" platform="android" density="xxhdpi" />
        <icon src="res/drawable-xxxhdpi/logo.png" platform="android" density="xxxhdpi" />
        
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
