<div class="adjust">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Enter Beam Length</label>
            <div class="input-group-append">
                <input type="number" onkeyup="event.target.value=event.target.value.replace('-','')"   class="form-control" formControlName="wallHeight" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Beam Length">
                <div class="input-group-append">
                    <select name="" id="" formControlName="heightUnit" class="form-control">
                        <option value="f" [selected]="true">Feet</option>
                        <option value="m">Meter</option>
                    </select>
                </div>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.wallHeight.touched && form.controls.wallHeight.errors">Enter positive numerics only</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Enter Beam Width</label>
            <div class="input-group-append">
                <input type="number" onkeyup="event.target.value=event.target.value.replace('-','')"   class="form-control" formControlName="wallLength" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Beam Width">
                <div class="input-group-append">
                    <select name="" id="" formControlName="lengthUnit" class="form-control">
                        <option value="i" [selected]="true">Inch</option>
                        <option value="mm">mm</option>
                    </select>
                </div>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.wallLength.touched && form.controls.wallLength.errors">Enter positive numerics only</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Enter Beam Thickness</label>
            <div class="input-group-append">
                <input type="number" onkeyup="event.target.value=event.target.value.replace('-','')"   class="form-control" formControlName="wallThickness" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Beam Thickness">
                <div class="input-group-append">
                    <select name="" id="" formControlName="thicknessUnit" class="form-control">
                        <option value="i" [selected]="true">Inch</option>
                        <option value="mm">mm</option>
                    </select>
                </div>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.wallLength.touched && form.controls.wallLength.errors">Enter positive numerics only</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">MIX Ratio</label>
            <div class="input-group-append">
                <select class="form-control col-12" name="" id="" formControlName="mortarRatio">
                    <option value="[1.5,3]" [selected]="true">1:1.5:3</option>
                    <option value="[2,2]">1:2:2</option>
                    <option value="[2,4]">1:2:4</option>
                    <option value="[3,6]">1:3:6</option>
                </select>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.mortarRatio.touched && form.controls.mortarRatio.errors">Enter positive numerics only</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Enter Number of Bars</label>
            <div class="input-group-append">
                <input type="number" onkeyup="event.target.value=event.target.value.replace('-','')"   class="form-control" formControlName="numberOfBar" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Number of Bars">
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.numberOfBar.touched && form.controls.numberOfBar.errors">Enter positive numerics only</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Diameter of Bar</label>
            <div class="input-group-append">
                <select class="form-control col-12" name="" id="" formControlName="diameterOfBar">
                    <option value="10" [selected]="true">10 mm / 3 soot</option>
                    <option value="12">12 mm / 4 soot</option>
                    <option value="16">16 mm / 5 soot</option>
                    <option value="20">20 mm / 6 soot</option>
                </select>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.mortarRatio.touched && form.controls.mortarRatio.errors">Enter positive numerics only</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Distance Between Rings</label>
            <div class="input-group-append">
                <input type="number" onkeyup="event.target.value=event.target.value.replace('-','')"   class="form-control" formControlName="dbr" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Distance Between Rings">
                <div class="input-group-append">
                    <select name="" id="" formControlName="dbrUnit" class="form-control">
                        <option value="i" [selected]="true">Inch</option>
                        <option value="mm">mm</option>
                    </select>
                </div>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.dbr.touched && form.controls.dbr.errors">Enter positive numerics only</small>
        </div>
        

        <!-- Cross mark  <span aria-hidden="true">&times;</span> -->
        <button type="submit" class="btn btn-primary col-12" [disabled]="form.invalid">Calculate</button>
    </form>
</div>

