<div class="share">
    <share-button class="facebook" shareButton="facebook" [url]="url" [description]="description"><i class="bi bi-facebook"></i>
    </share-button>
    <share-button class="twitter" shareButton="twitter" [url]="url" [description]="description"><i class="bi bi-twitter"></i>
    </share-button>
    <a class="whatsapp" href="https://wa.me/?text={{textToShare}}"><i class="bi bi-whatsapp"></i></a>
    <share-button class="linkedin" shareButton="linkedin" [url]="url" [description]="description"><i class="bi bi-linkedin"></i>
    </share-button>
    <share-button class="telegram" shareButton="telegram" [url]="url" [description]="description"><i class="bi bi-telegram"></i>
    </share-button>
    <share-button class="email" shareButton="email" [url]="url" [description]="description"><i class="bi bi-envelope-open"></i>
    </share-button>
    <share-button class="msg    " shareButton="sms" [url]="url" [description]="description"><i class="bi bi-chat-left"></i></share-button>

    
</div>