
<div class="adjust">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Enter Wall Height</label>
            <div class="input-group-append">
                <input type="number" class="form-control" formControlName="wallHeight" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Wall Height">
                <div class="input-group-append">
                    <select name="" id="" formControlName="heightUnit" class="form-control">
                        <option value="m" [selected]="true">Meter</option>
                        <option value="f">Feet</option>
                    </select>
                </div>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.wallHeight.touched && form.controls.wallHeight.errors">Enter numerics only</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Enter Wall Length</label>
            <div class="input-group-append">
                <input type="number" class="form-control" formControlName="wallLength" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Wall Length">
                <div class="input-group-append">
                    <select name="" id="" formControlName="lengthUnit" class="form-control">
                        <option value="m" [selected]="true">Meter</option>
                        <option value="f">Feet</option>
                    </select>
                </div>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.wallLength.touched && form.controls.wallLength.errors">Enter numerics only</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Enter Plaster Thickness</label>
            <div class="input-group-append">
                <select class="form-control col-12" name="" id="" formControlName="wallThickness">
                    <option value="12" [selected]="true">12 mm</option>
                    <option value="20">20 mm</option>
                </select>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.wallThickness.touched && form.controls.wallThickness.errors">Enter numerics only</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Mortar Ratio</label>
            <div class="input-group-append">
                <select class="form-control col-12" name="" id="" formControlName="mortarRatio">
                    <option value="4" [selected]="true">1:4</option>
                  
                    <option value="5">1:5</option>
                    <option value="6">1:6</option>
                </select>
            </div>
            <small class="form-text text-danger" *ngIf="form.controls.mortarRatio.touched && form.controls.mortarRatio.errors">Enter numerics only</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Is there any door?</label>
            Yes <input name="" id="isDoor" formControlName="isDoor" value="1" type="radio">
            No <input name="" id="isDoor" formControlName="isDoor" value="0" type="radio" (click)='resetDoor()'>
            <div class="input-group-append" *ngIf="form.controls.isDoor.value === '1'">
                <input #dw type="number" class="form-control" formControlName="doorWidth" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Door Width" >
                <span><i class="bi bi-x-circle"></i></span>
                <input #dh type="number" class="form-control" formControlName="doorHeight" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Door Height" >
                <select name="" id="" formControlName="doorUnit" class="form-control">
                    <option value="m" [selected]="true">Meter</option>
                    <option value="f">Feet</option>
                </select>
            </div>
            <small class="form-text text-danger" *ngIf="">Enter numerics only</small>
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Is there any window?</label>
            Yes <input name="" id="isWindow" formControlName="isWindow" value="1" type="radio">
            No <input name="" id="isWindow" formControlName="isWindow" value="0" type="radio" (click)='resetWindow()'>
            <div class="input-group-append" *ngIf="form.controls.isWindow.value === '1'">
                <input #dw type="number" class="form-control" formControlName="windowWidth" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Window Width" >
                <span><i class="bi bi-x-circle"></i></span>
                <input #dh type="number" class="form-control" formControlName="windowHeight" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Window Height" >
                <select name="" id="" formControlName="windowUnit" class="form-control">
                    <option value="m" [selected]="true">Meter</option>
                    <option value="f">Feet</option>
                </select>
            </div>
            <small class="form-text text-danger" *ngIf="">Enter numerics only</small>
        </div>

        <!-- Cross mark  <span aria-hidden="true">&times;</span> -->
        <button type="submit" class="btn btn-primary col-12" [disabled]="form.invalid">Calculate</button>
    </form>
</div>

<!-- <div *ngIf="result"  class="alert-success">
    {{result | json}}
</div> -->
